<nav class="navbar bg-dark navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url "shop:index" %}"><i class="fa-solid fa-house mx-1" style="color: #cdd9ee;"></i>HOME</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        </ul>
        {% if user.is_authenticated %}
        <ul class="navbar-nav">
          <li class="nav-item">
            <a href="{% url "accounts:logout" %}">로그아웃</a>
          </li>
        </ul>
        {% else %}
        <ul class="navbar-nav">
          <li class="nav-item me-2">
            <a href="{% url "accounts:login" %}">로그인</a>
          </li>
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item me-2">
            <a href="{% url "accounts:signup" %}">회원가입</a>
          </li>
        </ul>
        {% endif %}
      </div>
    </div>
  </nav>